<template>
   <div class="content">
      <div class="container-fluid" id="tb">
         <div class="row" >
            <input type="button" class="btn btn-md btn-success" value="Add New Service" v-on:click="addservice()">
            <div class="col-md-12">
               <div class="card">
                  <div class="card-header" data-background-color="purple">
                     <h4 class="title">Service List</h4>
                     <p class="category">Service list of project  </p>
                  </div>
                  <div class="card-content table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <th>Name</th>
                           <th>Description</th>
                           <th>Status</th>
                           <th>Actions</th>
                           <th>API's</th>
                        </thead>
                        <tbody>
                           <tr v-for="service in services">
                              <td>{{service.name}}</td>
                              <td>{{service.description}}</td>
                              <td>{{service.status}}</td>
                              <td>
                                 <input type="button" class="btn btn-sm  btn-danger" value="Delete" v-on:click="deleteservice(service)">
                                 <input type="button" class="btn btn-sm  btn-primary" value="Edit"  v-on:click="div_show1(service)">
                              </td>
                              <td>
                                 <input type="button" class="btn btn-sm btn-info" name="" value="click to See API's" v-on:click="api(service)">
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="frm1" style="display:none">
         <div class="row">
            <div class="col-md-8">
               <div class="card">
                  <div class="card-header" data-background-color="purple">
                     <h4 class="title"> Edit service</h4>
                     <p class="category">Add service Information</p>
                  </div>
                  <div class="card-content">
                     <form>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="form-group label-floating">
                                 <label for="name" class="control-label">name</label>
                                 <input type="text" class="form-control" name="name" v-model="name"  required>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group label-floating">
                                 <label for="status" class="control-label">status</label>
                                 <select  class="form-control" name="status" id="status"  v-model="status" required>
                                    <option value="active">Active</option>
                                    <option value="inactive">InActive</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="form-group label-floating">
                                 <label for="description" class="control-label"> Description</label>
                                 <input type="text" class="form-control" name="description" v-model="description" required>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div style="margin-left: 30%">
                              <button type="reset" class="btn btn-primary btn-round" v-on:click="cancelop()" >Cancel</button>
                              <button type="button" class="btn btn-primary btn-round" v-on:click="div_hide1()">Submit</button>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import Router from 'vue-router'
    import vueResource from 'vue-resource'

    Vue.use(vueResource)
    Vue.use(Router)
    export default {
        name: 'login',
        data() {
            return {
                //service details
                name: '',
                status: '',
                description: '',
                services: [],
                seen: true,
                show: true,
                sid: ''
            };
        },
        methods: {
            getAllservices() {
                var id = this.$route.params.id;
                console.log("IpAddress:" + globalLocalHost);
                this.$http.get(globalLocalHost + '/user/getProjectAllServies/' + id).then(response => {
                    if (response.body.err == false) {
                        //sweetalert('Success!', 'Login successful', 'success');
                        console.log(response)
                        this.services = response.body.result.services;
                    } else {
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    console.log(response)

                })
            },
            addservice() {
                var id = this.$route.params.id;
                this.$router.push('/dashboard/addservice/' + id)
            },
            deleteservice(service) {
                var pid = this.$route.params.id;
                this.sid = service.id;
                console.log("service id:" + this.sid)
                console.log("IpAddress:" + globalLocalHost);
                this.$http.delete(globalLocalHost + '/user/deleteProjectService/' + pid + '/' + this.sid).then(response => {
                    if (response.body.err == false) {
                        console.log(response)
                        this.services.splice(this.services.indexOf(service), 1)
                        sweetalert('Success!', 'service deleted  successfully', 'success');
                        console.log("deleted")
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                    console.log(response)
                })
            },
            div_show1(service) {
                this.sid = service.id;
                console.log("here");
                document.getElementById('frm1').style.display = "block";
                document.getElementById('tb').style.display = "none";
                //add values to edit form
                this.name = service.name,
                    this.status = service.status,
                    this.description = service.description
            },
            div_hide1() {
                document.getElementById('frm1').style.display = "none";
                document.getElementById('tb').style.display = "block";
                console.log("call edit button");
                //create json for update api
                var obj = {
                        'service': {
                            'name': this.name,
                            'description': this.description,
                            'status': this.status,
                        }
                    }
                    //call edit api
                var pid = this.$route.params.id;
                this.userid = localStorage.getItem('userId');
                console.log("services:" + pid)
                console.log("ownerId:" + this.userid)
                console.log("IpAddress:" + globalLocalHost);
                this.$http.put(globalLocalHost + '/user/updateProjectService/' + pid + '/' + this.sid, obj).then(response => {
                    if (response.body.err == false) {
                        console.log(response);
                        this.getAllservices()
                        sweetalert('Success!', 'updated seccessfully done', 'success');

                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            api(service) {
                this.$router.push('/dashboard/api/' + service.id)
            },
            cancelop() {
                document.getElementById('frm1').style.display = "none";
                document.getElementById('tb').style.display = "block";
            }
        },

        created() {
            this.getAllservices()
        },
    }
</script>
<style></style>