<template>

 <div class="container">
    <div>
        <h2 style="line-height: 12px;
        font-size: 20pt;
        margin-top: 20px;
        margin-left: 15px;
        position:absolute;
        top:0;
        left:0; 
        color:purple;"> <b>API PLANNER APP</b> </h2>
    </div>
	
    <div class="content">
                <div class="container-fluid">
                  <div class="row" style="margin-left:200px;margin-top:130px;">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title"> <b> SignUp</b></h4>
                                </div>
                                <div class="card-content">
                                  
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Username</label>
                                                    <input type="text" class="form-control" name="username" id="username" v-model="username" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Email address</label>
                                                    <input type="email" class="form-control"  name="email" id="email" v-model="email" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Fist Name</label>
                                                    <input type="text" class="form-control" name="firstName" id="firstName" v-model="firstName" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Last Name</label>
                                                    <input type="text" class="form-control" name="lastName" id="lastName" v-model="lastName" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Mobile</label>
                                                    <input type="text" class="form-control" name="mobile" id="mobile" v-model="mobile" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Select Role</label>
                                                    <select class="form-control" name="userrole" id="userrole" v-model="userrole"  required>
                                                        <option value="read">Read</option>
                                                        <option value="write">Write</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Select Status</label>
                                                    <select class="form-control" name="status" id="status" v-model="status"  required>
                                                        <option value="active">Active</option>
                                                        <option value="inactive">InActive</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" class="form-control" name="password" id="password" v-model="password" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Confirm Password</label>
                                                    <input type="password" class="form-control" name="confirm" id="confirm" required>
                                                </div>
                                            </div>
                                        </div>


                                        <button type="submit" class="btn btn-primary pull-right"  v-on:click="signup()"> <b> SIGN UP </b></button>
                                        <div class="clearfix"></div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>
</template>


<script scoped>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import vueResource from 'vue-resource'
    import Router from 'vue-router'
    Vue.use(vueResource)
    Vue.use(Router)
    export default {
        name: 'signup',
        data() {
            return {
                email: '',
                password: '',
                firstName: '',
                lastName: '',
                password: '',
                userrole: '',
                username: '',
                status: '',
                usertype: '',
                mobile: ''
            }
        },
        methods: {
            signup() {
                var obj = {
                        'user': {
                            'firstName': this.firstName,
                            'lastName': this.lastName,
                            'username': this.username,
                            'email': this.email,
                            'password': this.password,
                            'userrole': this.userrole,
                            'status': this.status,
                            'usertype': 'user',
                            'mobile': this.mobile
                        }
                    }
                    //added globalLocalHost value to change it change from global.js
                console.log("+++" + globalLocalHost)
                this.$http.post(globalLocalHost + '/addUser', obj).then(response => {
                    if (response.body.err === false) {
                        sweetalert('Success!', 'usser added successsfully', 'success')
                        this.$router.push({
                            path: '/'
                        })
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong! email and mobile already exist', 'error')
                    }
                }, response => {})
            }
        }
    }
</script>